{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "functional"
  ],
  "extends": [
    "plugin:@getify/proper-arrows/getify-says",
    "plugin:functional/recommended"
  ],
  "rules": {
    "func-names": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "rules": {
        "functional/no-try-statement": "off",
        "functional/no-expression-statement": "off"
      }
    },
    {
      "files": ["*"],
      "rules": {
        "functional/functional-parameters": "off"
      }
    }
  ]
}
